$section-color: #1F1717;
$banner-color:#10bdd4;
$logo-color1: white;
$logo-color2: #5AED83;

$font-logo: 'Abril Fatface', cursive;


//fontes e tamanhos

$h1: 36px;
$h2: 24px;
$p: 16px;
$paddingSection: 2rem;
$marginSection: 1rem;
